:root {
    --text-color: #4bd900;
}

* {
    box-sizing: border-box;
    font-family: monospace;
    font-size: 1.05rem;
    color: var(--text-color);
}

html, body {
    background-color: #1c1c1c;
    margin: 0 auto;
    width: 900px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

hr {
    background-color: var(--text-color);
    border-color: var(--text-color);
}

.wrapper {
    border: 7px double var(--text-color);
    height: 100vh;
    padding: 20px;
}
